html{
    background-color: #9ae6e1;
    margin: 0;
}
body{
    margin: auto;
    /* border: 1px solid red; */
    max-width: 1080px;
    height: 100%;
    background-color: whitesmoke;
}

/* ****************** */
/* NAVIGATION STYLING */
/* ****************** */
nav{
    /* border: 1px solid black; */
    height: 6em;
    display: flex;
    align-items: center;
    margin: 0 20px
    /* justify-content: space-between; */
}

.logo{
    /* border: 1px solid blue; */
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    width: 30%;
    letter-spacing: normal;
    padding-right: 10px;
}

.initials{
    margin-right: 12px;
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    font-weight: 500;
}

.logo-brand{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
}

.nav-items{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    justify-content: space-between;
}
.nav-items > a{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    /* border: 1px solid green; */
    padding: 8px 10px
}
.nav-items > a:hover{
    color: #45aba5;
}

/* ******************* */
/* Hero section styles */
/* ******************* */

.hero-section{
    /* border: 1px solid black; */
    /* height: 100vh; */
}
.order-btn{
    margin: auto;
    text-decoration: none;
    color: whitesmoke;
    background-color: #45aba5;
    padding: 10px 16px;
    border-radius: 5px;
}

/*  */
/* Home hero section */
/*  */
.home-portrait-hero, .pet-portrait-hero{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px 80px;
}
.home-image-container, .pet-image-container{
    /* border: 1px solid black; */
    width: 50%;
}
.home-hero-img, .pet-hero-img{
    width: 100%;
    box-shadow: 3px 3px 5px #9ae6e1;
}

.home-text-container, .pet-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 16px;
}
.house-hero-text, .pet-hero-text{
    font-size: 1.3rem;
}